@font-face {
  font-family: graphik;
  src: url(assets/graphik/Graphik-Medium.otf);
}

body {
  margin:0px;
}

.wrapper {
  display: grid;
  grid-template-columns: 5vh 1fr 5vh;
  grid-template-rows: 0px minmax(45vh, auto) auto;
  grid-gap: 4rem;
}

.title {
  grid-column: 2/3;
  grid-row: 2/3;
}

.side-title-left {
  position: fixed;
  display: block;
  font-family: graphik;
  font-size: 12pt;
  transform: rotate(-90deg);
  transform-origin: 0px 0px;
  bottom:-5vh;
  left: 3.5vh;
  height: 5vh;
  width: 100vh;
  align-content: center;
  text-align: center;
  vertical-align: baseline;
}

.side-title-right {
  position: fixed;
  /* display: block; */
  grid-column: 2/3;
  font-family: graphik;
  font-size: 12pt;
  transform: rotate(90deg);
  transform-origin: 0px 0px;
  top:0;
  right: -96.5vh;
  height: 5vh;
  width: 100vh;
  align-content: center;
  text-align: center;
}

img:nth-child(1) {
  display:  block;
  position: absolute;
  top: -150px;
  left: 50%;
  width: 120px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

img:nth-child(2) {
  display:  block;
  position: absolute;
  top: -150px;
  left: 10%;
  width: 200px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 5s linear infinite;
  -moz-animation:spin 5s linear infinite;
  animation:spin 5s linear infinite;
}

img:nth-child(3) {
  display:  block;
  position: absolute;
  top: -150px;
  left: 60%;
  width: 150px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

img:nth-child(4) {
  display:  block;
  position: absolute;
  top: -150px;
  left: 90%;
  width: 120px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 6s linear infinite;
  -moz-animation:spin 6s linear infinite;
  animation:spin 6s linear infinite;
}

img:nth-child(5) {
  display:  block;
  position: absolute;
  top: -150px;
  left: 55%;
  width: 100px;
  margin:-60px 0 0 -60px;
  -webkit-animation:spin 3s linear infinite;
  -moz-animation:spin 3s linear infinite;
  animation:spin 3s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
